<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item {% if request.endpoint == 'users_detail' %}active{% endif %}">
                    <a class="nav-link"
                       href="/users/">
                        Users
                    </a>
                </li>
                <li class="nav-item {% if request.endpoint == 'user_detail' %}active{% endif %}">
                    <a class="nav-link"
                       href="/users/{{ current_user.id }}">
                        Profile
                    </a>
                </li>
                <li class="nav-item {% if request.endpoint == 'fines' %}active{% endif %}">
                    <a class="nav-link"
                       href="/fines">
                        Fines
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('logout') }}">
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <form class="d-flex" action="{{ url_for('search') }}" method="post" autocomplete="off">
        <input class="form-control mr-2" name="user" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</nav>